@import url(fonts.css);
@import url(predefine-classes.css);
.logo{
    width: 90px;
    height: auto;
}
.icon {
    width: 20px;
    height: 20px;
}

nav li:hover {
    border-bottom: 2px solid #C12C26;
    color: #C12C26;
}


/* Hide the default hamburger icon */

.navbar-toggler-icon {
    display: none;
}
.style-header-text{
    
}

/* Adjust the custom icon's size and appearance */

.custom-hamburger-icon {
    width: 30px;
    /* Adjust this size as needed */
    height: auto;
    /* Adjust this size as needed */
}


/* Optional: Customize the navbar toggler button if needed */

.navbar-toggler {
    border: none;
    /* Remove the border if not needed */
    outline: none;
    /* Remove the outline */
    padding: 0;
    /* Adjust padding */
}


/* Remove the outline when the hamburger button is focused */

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    /* Optional: This removes any shadow effect */
}

.card-img-wrapper {
    position: relative;
    z-index: 1;
}

.card-img-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #C12C26;
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
    display: block;
    transition: transform 0.3s ease;
}

.card:hover .card-img-wrapper::before {
    transform: scaleY(0.8);
    transform-origin: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    padding-right: 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
}

.accordion:focus {
    outline: none;
}

.accordion::after {
    content: '\25BC';
    color: #777;
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.upper-box {
    padding-top: 2rem;
    border: 5px solid black;
    border-bottom: 0;
}

.lower-box {
    padding-top: 2rem;
    border: 5px solid black;
    border-top: 0;
}

input {
    
    border: 1px solid black;
    padding: 10px;

   
}

textarea {
    
    border: 1px solid black;
    padding: 10px;

   
}

.modal-button {
    background: transparent;
    border: none;
    outline: none;
    width: fit-content;
    text-align: left;
}

.modal-button:focus {
    outline: none !important;
}

.canpro-padding {
    padding: 3rem;
}

.can-pro {
    padding: 0 1rem;
}

.close {
    border: none;
    background: transparent;
    color: white;
}

.close:focus {
    outline: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 80vw !important;
        /* margin: 1.75rem auto; */
    }
}

@media (max-width: 950px) {
    /* NAVBAR */
    .navbar-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .nav-item {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* ABOUT US */
    .about-us-txt {
        padding-left: 12px;
    }
    /* SERVICES */
    .canpro-padding {
        padding: 0;
    }
    .can-pro {
        padding: 1.5rem 1rem;
    }
    .services-box {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .service {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* NUMBERS */
    .upper-box,
    .lower-box {
        width: 80% !important;
    }
    /* PARTNERS */
    .partners {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* FOOTER */
    .footer-sec {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .footer-links {
        padding-top: 1rem !important;
    }
}